* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Mulish', sans-serif;
}

.main {
  max-width: 100vw;
  min-height: 100vh;
}

.header {
  background: #efeb30;
  padding: 1.5rem 2rem;
  position: sticky;
  top: 0;
  box-shadow: 0 0.45rem #8a8a8a41;
}

.heading__primary--main {
  /* text-align: center; */
  font-size: 4.6rem;
  font-weight: 500;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-transform: capitalize;
}

.heading__secondary {
  font-size: 3.2rem;
}

.button {
  background: #e0e0e0;
  display: block;
  margin: 1.5rem auto;
  font-size: 1.6rem;
  font-family: 'Mulish', sans-serif;
  padding: 2rem 1.5rem;
  width: 45%;
  border: none;
  text-align: left;
  cursor: pointer;
  text-transform: capitalize;
}

.pokemon-list {
  margin: 0 auto;
}

.mb-3 {
  margin-bottom: 0.3rem;
}

.mb-12 {
  margin-bottom: 12rem;
}

.mt-12 {
  margin-top: 12rem;
}

/* #modal-container {
  display: none;
} */

/* #modal-container.is-visible {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); */

/* to show it above other content */
/* z-index: 999; */

/* to allow scrolling if the screen is not high enough*/
/* overflow: auto; */

/* this is used to center the modal */
/* display: grid;
  text-align: center;
} */

/* .modal {
  margin: auto;
  display: inline-block;
  background: #fff;
  padding: 15px;
  width: 50%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: none;
}

.modal-title {
  margin-top: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 30px;
}

.modal-text {
  margin-bottom: 0;
  font-size: 15px;
  font-family: 'Mulish', sans-serif;
}

.modal-image {
  display: block;
  margin: 50px auto;
} */

.footer {
  background: #e9e9e9;
  display: block;
  height: 20px;
  width: 100%;
  bottom: 0;
}

@media only screen and (max-width: 750px) {
  .modal {
    width: 100%;
  }
  .button {
    width: 95%;
  }
}
